<li style="margin: 10px; padding: 0; padding-left: 15px; border-bottom: 1px #505050 solid; font-size: 16px;">
	<p><strong>{{# if npm.downloads.lastDay}}{{npm.downloads.lastDay}}{{else}}0{{/if}}</strong> downloads in the last day</p>
</li>
<li style="margin: 10px; padding: 0; padding-left: 15px; border-bottom: 1px #505050 solid; font-size: 16px;">
	<p><strong>{{#if npm.downloads.lastWeek}}{{npm.downloads.lastWeek}}{{else}}0{{/if}}</strong> downloads in the last week</p>
</li>
<li style="margin: 10px; padding: 0; padding-left: 15px; border-bottom: 1px #505050 solid; font-size: 16px;">
	<p><strong>{{#if npm.downloads.lastMonth}}{{npm.downloads.lastMonth}}{{else}}0{{/if}}</strong> downloads in the last month</p>
</li>
