<div class="container">
	<div class="row">
		<div class="col-md-7">
			<div style="margin: 15px;">
				<h1>{{github.repository.name}}</h1>
				<h2 style="font-size: 20px; margin-top: 0; padding-top: 0; color: #B0B0B0;">{{github.repository.description}}</h2>
				<hr />

				{{> commit-info}}

				<div style="margin-top: 30px;">
					<p>{{#if github.files.readme}}{{{github.files.readme.markdown}}}{{else}}<strong>No readme available{{/if}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div style="margin: 15px; padding: 0;">
				<ul style="display: block; list-style: none; margin: 0; padding: 0; margin-top: 20px; margin-bottom: 20px;">
					{{#if npm}}
					<li style="margin: 10px; padding: 0; padding-left: 15px; border-bottom: 1px #505050 solid;">
						<pre style="background: 0; border: 0; font-size: 16px; color: #C0C0C0; margin-top: 0; padding-top: 0; font-size: 18px;"><i class="fa fa-download"></i> npm i {{npm.package.name}}</pre>
					</li>
					<li style="margin: 10px; padding: 0; padding-left: 15px; border-bottom: 1px #505050 solid; font-size: 16px;">
						<p><strong>{{npm.package.version}}</strong> is the current npm version</p>
					</li>
					<li style="margin: 10px; padding: 0; padding-left: 15px; border-bottom: 1px #505050 solid; font-size: 16px;">
						<p><a href="https://npmjs.com/package/{{npm.package.name}}" target="_blank">https://npmjs.com/package/{{npm.package.name}}</p>
					</li>
					{{/if}}
					{{#if github}}
					<li style="margin: 10px; padding: 0; padding-left: 15px; border-bottom: 1px #505050 solid; font-size: 16px;">
						<p><a href="{{github.repository.html_url}}" target="_blank">{{github.repository.html_url}}</a></p>
					</li>
					{{/if}}
					{{#if npm}}
						{{#if npm.package.license}}
						<li style="margin: 10px; padding: 0; padding-left: 15px; border-bottom: 1px #505050 solid; font-size: 16px;">
							<p><strong><a href="http://opensource.org/licenses/{{npm.package.license}}" target="_blank">{{npm.package.license}}</a></strong> license</p>
						</li>
						{{/if}}
					{{/if}}
				</ul>
				<h1 style="font-size: 24px; margin-top: 0; padding-top: 0; color: #B0B0B0;">Stats</h1>
				<ul style="display: block; list-style: none; margin: 0; padding: 0;">
					{{#if npm}}
					{{> repository-downloads}}
					{{/if}}
					{{#if github}}
					<li style="margin: 10px; padding: 0; padding-left: 15px; border-bottom: 1px #505050 solid; font-size: 16px;">
						<p><strong><a href="{{github.repository.html_url}}/issues" target="_blank">{{#if github.repository.open_issues_count}}{{github.repository.open_issues_count}} open issue(s){{else}}No open issues{{/if}}</a></strong> on GitHub</p>
					</li>
					{{/if}}
				</ul>
				<div style="clear: both;"></div>
				<div style="margin: 15px;">
					<h1 style="font-size: 24px; margin-top: 0; padding-top: 0; color: #B0B0B0;">Contributors</h1>
						{{#each github.contributors}}
							<div class="row">
								<div class="col-md-3">
									<a href="{{html_url}}" target="_blank"><img src="{{avatar_url}}" class="img-responsive img-thumbnail" title="{{login}}" /></a>
								</div>
							</div>
						{{/each}}
					<div style="clear: both;"></div>
				</div>
				{{#if npm.package.keywords}}
				<div style="margin: 15px;">
					<h1 style="font-size: 24px; margin-top: 0; padding-top: 0; color: #B0B0B0;">Keywords</h1>
					<ul style="margin: 0; padding: 0; list-style: none;">
						{{#each npm.package.keywords}}
							<li class="pull-left" style="margin-right: 10px;"><a href="https://npmjs.com/browse/keyword/{{@this}}" target="_blank">{{@this}}</a></li>
						{{/each}}
					</ul>
					<div style="clear: both;"></div>
				</div>
				{{/if}}
				<div style="margin: 15px;">
					<h1 style="font-size: 24px; margin-top: 0; padding-top: 0; color: #B0B0B0;">Dependencies</h1>
					{{#if npm.package.dependencies}}
					<ul style="margin: 0; padding: 0; list-style: none;">
						{{#each npm.package.dependencies}}
							<li class="pull-left" style="margin-right: 10px;"><a href="https://npmjs.com/package/{{@key}}" target="_blank">{{@key}}</a></li>
						{{/each}}
					</ul>
					{{else}}
					<p>None</p>
					{{/if}}
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>
</div>
